<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/static/style.css">
    <title>Login as a player</title>
  </head>
  <body>
    {% include "nav.html" %}
    <h1>Login as a player</h1>
    {% if error %}
    <p style="color: red">ERROR: {{error}}</p>
    {% endif %}
    <form action="" method="post">
      <table>
        <tr>
          <td><label for="username">Username:</label></td>
          <td><input type="text" id="username" name="username"></td>
        </tr>
        <tr>
          <td><label for="pass">Password:</label></td>
          <td><input type="password" id="pass" name="pass"></td>
        </tr>
      </table>
      <input type="submit" value="Submit">
    </form>
  </body>
</html>